digital-objects/*/*/*/normalized
digital-objects/*/*/*/enriched
digital-objects/*/*/*/packaged
digital-objects/*/*united*/*/raw/*united.glb
digital-objects/*/*united*/*/raw/*United.glb

dist/
scratch/
