digital-objects/*/*/*/normalized
digital-objects/*/*/*/enriched

dist/
scratch/
staging/
log*.txt

# Ignore Apple's weird folder junk
.DS_Store

# Ignore vscode local settings
.vscode

# Per deployment environment file
env.sh